<% const
   showClass=(pageIdCode)=> {
	return pageIdCode == currentPageIdCode ? 'active' : '';
	}
	%>
	<nav>
		<div>
			<a href="/"
			   class="<%=showClass('home')%>">Home</a> | <a class="<%=showClass('books')%>"
			   href="/books">Books</a> | <a class="<%=showClass('settings')%>"
			   href="/settings">Settings</a>
		</div>
		<div>location: <%=applocation%>
		</div>
	</nav>