<html lang="en">

<head>
	<%- include('_head.ejs')
		%>
</head>

<body>
	<%- include('_nav.ejs')
		%>
		<section class="container">
			<h2>
				<%=message%>
			</h2>
			<p class="listIntro">This site demonstrates the following:</p>
			<ul>
				<li>Node/Express site that serves <a href="https://ejs.co/">EJS pages</a> with EJS variables, images,
					frontend JavaScript</li>
				<li>Environment variables using the <a href="https://www.npmjs.com/package/dotenv">dotenv</a> npm
					package</li>
				<li>Automatic Sass-to-css generation with the <a
					   href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.live-sass">Live Sass
						Compiler</a> extension for VSCode</li>
				<li>An internal REST API which allows the frontend EJS pages to use <code>fetch()</code> to access and
					alter:</li>
				<ul>
					<li>a JSON file on the backend</li>
					<li class="todo">TODO: a MongoDB database at Atlas</li>
					<li class="todo">TODO: an SQLite database on the backend</li>
				</ul>
				<li>Deployment includes hosting at <a href="https://www.heroku.com/">Heroku</a> which publishes
					automatically when code is pushed to the project's <a
					   href="https://github.com/edwardtanguay/ejs-fullstack-001">GitHub repository</a></li>
				<li class="todo">User login authentication, e.g. with login page and set cookie</li>
			</ul>
		</section>
</body>

</html>